# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# Ignore generated and large artifacts
__pycache__/
tools/
data/
archive/
deploy/
Dockerfile
ML/transformer_model/